// Import page-specific CSS files here.
// @import "home";

main {
  flex: 1;
}

.hero {
  box-sizing: border-box;
  min-height: 90vh;

  &--red {
    background-color: $red;
    color: $white;
  }

  &--white {
    background-color: $white;
    color: $red;
  }
}

.hero__header {
  display: inline-block;
  padding: 1rem 2rem;

  &--red {
    background-color: $white;
    color: $red;
  }

  &--white {
    background-color: $red;
    color: $white;
  }
}

.hero__aside {
  position: relative;
  min-height: 90vh;

  &--red {
    background-color: $red;
  }

  &--white {
    background-color: $white;
  }
}

.hero__text {
  margin-bottom: 1rem;
  font-size: 18px;
  text-align: justify;

  a {
    color: $red;
  }
}

.text {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

.show-more {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 48px;
  font-weight: bold;
  animation: 0.5s ease-out 0s infinite alternate bounce;
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-40%);
  }
}

@media screen and (max-width: 900px) {
  .flex--center {
    display: block;
  }
}
