// Import page-specific CSS files here.
// @import "home";

main {
  flex: 1;
  width: 100vw;
}

.hero {
  box-sizing: border-box;
  padding: 5vh 15vw;
  min-height: 100vh;

  &:nth-child(2n + 1) {
    text-align: right;
    background-color: $red;
  }
}

#top {
  min-height: 90vh;
  height: 90vh;
}

.hero__aside {
  min-height: 67vh;

  &--wide {
    width: 60%;
  }

  &--narrow {
    width: 40%;
  }
}

.hero__header {
  display: inline-block;
  margin-bottom: 32px;
  padding: 8px 16px;
  min-height: 8vh;
  font-size: 4rem;

  &--red {
    border-bottom: 8px solid $red;
    background-color: $red;
    color: $white;
  }

  &--white {
    border-bottom: 8px solid $white;
    background-color: $white;
    color: $red;
  }
}

.hero__text {
  margin-bottom: 1rem;
  width: 40vw;
  text-align: justify;

  a {
    color: $red;
  }
}

#headshot {
  border-radius: 50%;
  width: 100%;
}

.stack-card {
  box-sizing: border-box;
  overflow-y: hidden;
  position: relative;
  height: fit-content;
  padding: 48px 32px;
  background-color: $white;
  text-align: left;
}

.stack-card__item {
  margin-bottom: 24px;
}

.stack-card__img {
  width: 64px;
}

.stack-card__info {
  margin: 8px 0 8px 24px;
}

.show-more {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 48px;
  font-weight: bold;
  animation: 0.5s ease-out 0s infinite alternate bounce;
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-40%);
  }
}

.marker {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: $red;
  color: $white;
  font-size: 32px;
}