<nav class="flex--space-between">
  <div class="nav__item flex--center">
    <a href="#">
      <div id="logo">
        <h1>louisizumi</h1>
      </div>
    </a>
  </div>
  <div id="nav-items">
    <ul class="flex--space-around">
      <% @nav_items.each do |nav_item| %>
        <%= render 'shared/navitem', inner_text: nav_item %>
      <% end %>
    </ul>
  </div>
</nav>