<nav id="nav">
  <div id="nav-items">
    <ul class="grid--quarters">
      <li class="flex--center">
        <a href="#top" class="nav__item flex--center"><span>About</span></a>
      </li>
      <li class="flex--center">
        <a href="#stack" class="nav__item flex--center"><span>Stack</span></a>
      </li>
      <li class="flex--center">
        <a href="#projects" class="nav__item flex--center"><span>Projects</span></a>
      </li>
      <li class="flex--center">
        <a href="#contact" class="nav__item flex--center"><span>Contact</span></a>
      </li>
    </ul>
  </div>
</nav>