<nav class="flex--space-between">
  <div class="flex--center">
    <a href="#" class="nav__item"><h1 class="nav__link">泉Louis</h1></a>
  </div>
  <div id="nav-items">
    <ul class="flex--space-around">
      <% @nav_items.each do |nav_item| %>
        <%= render 'shared/navitem', inner_text: nav_item %>
      <% end %>
    </ul>
  </div>
</nav>