<div class="hero" id="top">
  <div class="grid--2-1">
    <div class="hero__aside flex--center">
      <div id="about">
        <h2 class="hero__header hero__header--red" id="name">Louis Drinkwater</h2>
        <h3 class="hero__header hero__header--white" id="desc">Full Stack Web Developer</h3>
      </div>
    </div>
    <%= image_tag('LeWagon_Web - Edited.jpg', id: "headshot") %>
  </div>
</div>
<%= render 'shared/navbar' %>