<div class="hero flex--center" id="top">
  <div class="grid--2-1">
    <div class="hero__aside flex--center">
      <div>
        <h2 class="hero__header hero__header--red">About Me</h2>
        <p class="hero__text">
          Eventually, you do plan to have dinosaurs on your dinosaur tour, right? Is this my espresso machine? Wh-what is-h-how did you get my espresso machine? Yeah, but your scientists were so preoccupied with whether or not they could, they didn't stop to think if they should.
        </p>
        <p class="hero__text">
          Hey, you know how I'm, like, always trying to save the planet? Here's my chance. Did he just throw my cat out of the window? You know what? It is beets. I've crashed into a beet truck. Just my luck, no ice. Jaguar shark! So tell me - does it really exist?
        </p>
      </div>
    </div>
    <div class="hero__aside">
      <%= image_tag('LeWagon_Web - Edited.jpg', id: "headshot") %>
    </div>
  </div>
</div>