<div class="hero hero--red" id="contact" style="padding:0;">
  <div class="grid--halves" style="gap: 0;">
    <div class="map-container">
      <div id="map" style="height: 90vh; width: 100%" data-controller="map"></div>
      <div class="map-container__text">
        <h3><i class="fas fa-address-card"></i> Louis Drinkwater</h3>
        <p><i class="fas fa-map-marker-alt"></i> London E2</p>
        <p><i class="fas fa-envelope-square"></i> louisdrinkwater95@gmail.com</p>
        <p><i class="fas fa-phone-square-alt"></i> +44 (0)7414 945672</p>
        <a href="https://www.github.com/louisizumi" target="_blank"><i class="fas fa-link"></i> github.com/louisizumi</a>
      </div>
    </div>
    <div class="hero__aside flex--center">
      <div>
        <h2 class="hero__header hero__header--white">Contact</h2>
        <form action="/" method="POST" class="contact">
          <div class="flex--space-between">
            <input type="text" name="name" placeholder="name" id="name">
            <input type="text" name="company" placeholder="company" id="company">
          </div>
          <input type="text" name="subject" placeholder="subject" id="subject">
          <textarea name="message" placeholder="message" id="message" rows="8"></textarea>
          <input type="submit">
        </form>
      </div>
    </div>
  </div>
</div>