<div class="hero hero--white" id="projects">
  <h2 class="hero__header hero__header--red">Projects</h2>
  <div class="projects-container">
    <div class="grid--halves">
      <div class="project-card flex--center" id="buddie-up">
        <div>
          <h3>Buddie Up</h3>
          <ul class="flex--flex-start">
            <li><i class="devicon-rails-plain colored"></i></li>
            <li><i class="devicon-javascript-plain colored"></i></li>
            <li><i class="devicon-html5-plain colored"></i></li>
            <li><i class="devicon-css3-plain colored"></i></li>
            <li><i class="devicon-bootstrap-plain colored"></i></li>
            <li><i class="devicon-sass-plain colored"></i></li>
            <li><i class="devicon-postgresql-plain colored"></i></li>
            <li><i class="devicon-heroku-plain colored"></i></li>
          </ul>
        </div>
      </div>
      <div class="project-card flex--center" id="sixteen-bit-rentals">
        <div>
          <h3>Sixteen Bit Rentals</h3>
          <ul class="flex--flex-start">
            <li><i class="devicon-rails-plain colored"></i></li>
            <li><i class="devicon-javascript-plain colored"></i></li>
            <li><i class="devicon-html5-plain colored"></i></li>
            <li><i class="devicon-css3-plain colored"></i></li>
            <li><i class="devicon-bootstrap-plain colored"></i></li>
            <li><i class="devicon-sass-plain colored"></i></li>
            <li><i class="devicon-postgresql-plain colored"></i></li>
            <li><i class="devicon-heroku-plain colored"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>