<div class="hero">
  <h2 class="hero__header hero__header--red">Projects</h2>
  <div class="grid--thirds">
    <div class="stack-card flex--align-start">
      <span>My first project here</span>
    </div>
    <div class="stack-card flex--align-start">
      <span>My second project here</span>
    </div>
    <div class="stack-card flex--align-start">
      <span>My third project here</span>
    </div>
  </div>
</div>