<div class="hero" style="text-align: right;">
  <h2 class="hero__header hero__header--white">Stack</h2>
  <div class="grid--thirds">
    <div class="stack-card flex--align-start">
      <span>My frontend skills here</span>
    </div>
    <div class="stack-card flex--align-start">
      <span>My backend skills here</span>
    </div>
    <div class="stack-card flex--align-start">
      <span>My other skills here</span>
    </div>
  </div>
</div>