.map-container {
  position: relative;

  &__text {
    position: absolute;
    top: 24px;
    right: 32px;
    padding: 24px 16px;
    background-color: $red;
    color: $white;
    text-align: left;

    h3, p {
      padding: 8px 16px;
    }

    i {
      width: 24px;
      text-align: center;
    }

    a {
      display: inline-block;
      padding: 8px 16px;
      color: $white;
      text-decoration: none;

      &:hover {
        background-color: $white;
        color: $red;
      }
    }
  }
}