nav {
  box-sizing: border-box;
  z-index: 1;
  position: fixed;
  padding: 0 5vw;
  width: 100vw;
  height: 10vh;
}

.nav__item {
  display: block;
  margin: 0 8px;
  padding: 0 16px;
  color: $black;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    background-color: $red;
    color: $white;
  }
}

.nav__link {
  display: block;
  border-bottom: 8px solid $red;
  padding: 8px;
  padding-top: 16px;
  line-height: 24px;
  color: set-color($red);
}