nav {
  box-sizing: border-box;
  position: fixed;
  padding: 0 5vw;
  width: 100vw;
  height: 5vw;
}

.nav__item {
  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
}

@mixin navlink($color) {
  margin: 0 16px;
  padding: 0 8px;

  h1, span {
    display: block;
    border-bottom: 8px solid $color;
    padding: 8px;
    line-height: 24px;
  }

  &:hover {
    background-color: $color;
    color: $white;
  }
}

#logo {
  @include navlink($pink);
}

.nav__link {
  @include navlink($orange);
}
